<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eden62.GENSMobile">

    <uses-sdk android:minSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mon_icone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MapsActivities.Recensement.MainActivityRec"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MapsActivities.Releve.MainActivityRel"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Activities.MapsActivities.Releve.PointsTakerService"
            android:exported="false" />

        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HttpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FormActivities.Faune.FauneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FormActivities.Flore.FloreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FormActivities.Faune.AmphibienActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FormActivities.Faune.OiseauxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Historiques.Releves.HistoryReleveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Historiques.Inventaires.HistoryRecensementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Historiques.Releves.InfoRelevesPopups.PopUpPoint"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Activities.Historiques.Releves.InfoRelevesPopups.PopUpLigne"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Activities.Historiques.Releves.InfoRelevesPopups.PopUpPolygone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Activities.MapsActivities.Releve.NameRelevePopup"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.MapsActivities.ShowInvRelActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MapsActivities.Recensement.SearchTaxonPopup"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme2" />
        <activity
            android:name=".Activities.Historiques.Releves.NameExportFileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.SyncInvActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>